PYTHONPATH=/app
USE_MONGO_MCP=true
REAL_EXECUTION=false

SPLUNK_GENERAL_TERMS=--accept-sgt-current-at-splunk-com
SPLUNK_START_ARGS=--accept-license
SPLUNK_PASSWORD=
SPLUNK_HEC_URL=https://splunk:8088/services/collector
SPLUNK_HEC_TOKEN=
SPLUNK_AUDIT_INDEX=mim_workflow_audit
SPLUNK_VERIFY_SSL=false
